<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhao.eshop.mapper.StockMapper" >
  <resultMap id="stockMap" type="com.zhuhao.eshop.entity.Stock" >
    <id column="stock_id" property="stockId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="quantity" property="quantity" jdbcType="BIGINT" />
  </resultMap>
  <select id="selectStockByPId" parameterType="com.zhuhao.eshop.entity.Product" resultMap="stockMap">
    SELECT * FROM stock where product_id = #{productId}
  </select>
</mapper>