<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link  type="text/css" href="css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="css/style.css" rel="stylesheet">
    <link type="text/css" href="css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" data-main="js/main" src="js/require.js"></script>
</head>
<body>
<div class="top">
    <div class="container">
        <div class="pull-left top-text">
            <span>Hi～亲爱的会员</span>
            <a href="#">登录</a>
            <a href="#">注册</a>
        </div>
        <div class="pull-right user-info">
            <div class="top-group">
                <a href="#">我的账户 <i class="icon-angle-down"></i></a>
                <div class="user-menu">
                    <a href="#">收货地址</a>
                    <a href="#">会员中心</a>
                </div>
            </div>
            <div class="top-group"><a href="#"><i class="icon-reorder"></i>我的订单</a></div>
            <div class="top-group"><a href="#"><i class="icon-star-empty"></i>我的收藏</a></div>
            <div class="top-group"><a href="#"><i class="icon-shopping-cart"></i>购物车</a></div>
        </div>
    </div>
</div>
<div class="header">
    <div class="container">
        <div class="logo pull-left">
            <a href="#">
                <img src="images/logo.png" width="250px" height="100px" >
            </a>
        </div>
        <div class="nav-menu pull-left">
            <ul class="nav navbar-nav">
                <li ><a href="#">首页</a></li>
                <li ><a href="#">每周新品预售</a></li>
                <li ><a href="#">衣帽间</a></li>
                <li><a href="#">团购</a></li>
                <li><a href="#">预约</a></li>
                <li><a href="#">限时打折</a></li>
            </ul>
        </div>
        <div class="nav-deck pull-right">
            <a class="search" href="#"><i class="icon-search"></i></a>
        </div>
        <div class="search-frame">
            <form action="" method="post">
                <div class="search-btn"><a href="#"><i class="icon-search"></i></a></div>
                <div><input  type="text" name="word" placeholder="搜索品牌、商品"></div>
                <div class="search-close"><a href="#"><span aria-hidden="true">&times;</span></a></div>
            </form>
        </div>
    </div>
</div>
<div class="main">
    <div class="container">
        <div class="cart">
            <div class="cart-mark">
                <div class="pull-left">
                    <h3>订单 ORDER</h3>
                </div>
                <div class="pull-right">
                    <div class="cart-process">
                        <div class="line"></div>
                        <div class="process-item">
                            <div class="active">1</div>
                            <p>购买商品</p>
                        </div>
                        <div class="process-item ">
                            <div>2</div>
                            <p>确认订单</p>
                        </div>
                        <div class="process-item">
                            <div>3</div>
                            <p>生成订单</p>
                        </div>
                    </div>
                </div>
            </div>

                <div id="templatemo_main">
                    <div id="content" class="float_l" style="height:600px;margin-left:40px">



                        <table style="border:1px solid #CCCCCC;" width="100%">

                            <tr>
                                <td>
                                    订单编号
                                </td>
                                <td width="300px;" style="padding: 0px 20px;">
                                    订单日期
                                </td>
                                <td>金额</td>
                            </tr>
                            <c:forEach items="${orderList }" var="order">
                                <tr>
                                    <td>
                                        <a href="ShoeOrderServlet?flag=seecareful&orderId=${order.orderId }" class="more">${order.orderId }</a>
                                    </td>
                                    <td width="200px;" style="padding: 0px 20px;">
                                        ${order.date }
                                    </td>
                                    <td>￥${order.amount }</td>
                                </tr>

                            </c:forEach>
                        </table>

                        <br>
                        <a href="ShoeOrderServlet?flag=selectAllOrder&userId=${tuser.userId }&currentPage=1" class="more">首页</a> |
                        <a href="ShoeOrderServlet?flag=selectAllOrder&userId=${tuser.userId }&currentPage=${currentPage - 1}" class="more">上一页</a> |
                        <a href="ShoeOrderServlet?flag=selectAllOrder&userId=${tuser.userId }&currentPage=${currentPage + 1}"  class="more">下一页</a> |
                        <a href="ShoeOrderServlet?flag=selectAllOrder&userId=${tuser.userId }&currentPage=${pages}"  class="more">尾页</a>
                    </div>

            </div>

    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="footer-group pull-left">
            <ul class="footer-list">
                <li class="top-title"><span>新手指南</span></li>
                <li><a href="#">注册新用户</a></li>
                <li><a href="#">用户协议</a></li>
                <li><a href="#">找回密码</a></li>
                <li><a href="#">移动客户端下载</a></li>
            </ul>
            <ul class="footer-list">
                <li class="top-title"><span>购物指南</span></li>
                <li><a href="#">购物流程</a></li>
                <li><a href="#">订单拆分</a></li>
                <li><a href="#">积分使用说明</a></li>
            </ul>
            <ul class="footer-list">
                <li class="top-title"><span>配送方式</span></li>
                <li><a href="#">配送时间及范围</a></li>
                <li><a href="#">配送费收取标准</a></li>
                <li><a href="#">物流查询</a></li>
            </ul>
            <ul class="footer-list">
                <li class="top-title"><span>支付方式</span></li>
                <li><a href="#">发票制度</a></li>
                <li><a href="#">支付方式</a></li>
            </ul>
            <ul class="footer-list">
                <li class="top-title"><span>售后服务</span></li>
                <li><a href="#">退货政策</a></li>
                <li><a href="#">退货办理流程</a></li>
                <li><a href="#">退款说明</a></li>
            </ul>
        </div>
        <div class="footer-group pull-right">
            <div class="contact">
                <img src="images/contact.jpg">
            </div>
            <p>监督：021-38119999-6038</p>
            <p> 在线客服</p>
        </div>
        <div class="copy-right">
            <p><span>CopyRight © 2015-2016 funwear.com 沪ICP备05033127号</span></p>
        </div>
    </div>
</div>
<div class="sticky">
    <div><a href="#" title="返回顶部"><i class="icon-angle-up"></i></a></div>
</div>
<!--置顶-->
</body>
</html>